footer
  .footer-para
    .license
      p.footer-title Print Open Hard 2015 
        a.cc(rel='license', href='http://creativecommons.org/licenses/by/4.0/')
          i.fa.fa-creative-commons
        br
        span.text-cc(xmlns:dct='http://purl.org/dc/terms/', property='dct:title') 
          a(xmlns:cc='http://creativecommons.org/ns#', href='http://poh.com.ar', property='cc:attributionName', rel='cc:attributionURL') Print Open Hard se distribuye bajo una 
          a(rel='license', href='http://creativecommons.org/licenses/by/4.0/') Licencia Creative Commons Atribución 4.0 Internacional
        
    p.desing Desarrollo: 
      a(href="https://ar.linkedin.com/in/vcarulla", target='_blank') Nesta
    
    p.social Seguinos en
      a(href="https://www.facebook.com/printopenhard", target='_blank')
        i.fa.fa-facebook-square
      a(href="https://twitter.com/printoh", target='_blank')
        i.fa.fa-twitter-square        
      
script(type='text/javascript').
  function downloadJSAtOnload(){var d=document.createElement("script");d.src="../assets/js/main-dist.js",document.body.appendChild(d)}window.addEventListener?window.addEventListener("load",downloadJSAtOnload,!1):window.attachEvent?window.attachEvent("onload",downloadJSAtOnload):window.onload=downloadJSAtOnload;
script(type='text/javascript').
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-57548204-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
