.home-wrap
  .home-sections
    include _header.jade
    include sections/_section-welcome.jade
    include sections/_section-what.jade
    include sections/_section-shop.jade
    include sections/_section-contact.jade
    //- include _columns.jade       
    //- div(style='height: 2000px')
include _footer.jade
