doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Print Open Hard
    meta(name='description', content='Diseño y venta de impresiones 3D y hardware para prototipado')
    meta(name='author', content='Victor Carulla')
    meta(name='keywords', content='3D Printing, Impresiones 3d, Open Hardware, Arduino, RaspberryPi, Print Open Hard, 3D Print, Open Source, Shop')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='favicon.ico')  
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' async)
    link(rel='stylesheet', href='../assets/css/main-dist.css')
    script(src='../assets/js/jquery-dist.js' async)
    noscript Oh.. No! Algunos elementos del sitio necesitan JScrip para funcionar. 
  body
    include _layout
