section.welcome
  #welcome
    .fullscreen-bg
      video.fullscreen-bg--video(loop='1', muted='', autoplay='')
        source(src='assets/img/welcome/printer.mp4', poster="img/welcome/welcome.jpg", type='video/mp4' async)
    h1.site-title PRINT OPEN HARD
